../HELP.md
../../.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!backend/pick-git/src/main/**/build/
!backend/pick-git/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!backend/pick-git/src/main/**/bin/
!backend/pick-git/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!backend/pick-git/src/main/**/out/
!backend/pick-git/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### gradle ###
/.gradle
/backend/pick-git/.gradle
.lock


### VS Code ###
.vscode/
